<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Erica Game</title>		
		<link rel="stylesheet" href="/styles/core.css">
		<link rel="stylesheet" href="/styles/bootstrap.min.css">
		<script data-main="../node-modules" src="/js/require.js"></script>
		

	</head>
	<body>
		<div id="header">

			{{> mainmenu}}

		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}

			<div class="hidden section-id" id="login"></div>
		</div>
		<div class="container">
			<div id="footer">
				
			</div>
		</div>

		{{!-- Scripts --}}

		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>  
		<script src="/js/core.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/PapaParse-4.1.2/papaparse.min.js"></script>
		{{!--<script src="https://www.google.com/jsapi?.js"></script> --}}


		

		{{> script/global }}

		

    


	</body>
</html>